
nav {
    display: inline;
    background-color: rgb(170, 18, 48);
    background-image: url(../images/pizza-76.gif);
    background-repeat: no-repeat;
    background-size: cover;

}
h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, ; 
}
/* #pizza {
    margin-right: auto;
    margin-left: auto;
    flex: auto;
    flex-direction: row; */
.welcome {text-align: center;}
.col-md-6 bienvenida-txt {
    text-emphasis-position: center;

}
body {
    background-image: url(../images/Pizza-Party-10-Piece-Photo-Booth-Props-Kit.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
h2 {
    text-align:center;
    font-style: italic;
    color: darkblue;
}
