.zan {
    color: rgb(17, 221, 41);
    font-family: 'Nosifer', ; 
    background-image: url(../images/pizza-animated-gif-33.gif);
    background-repeat: no-repeat;
    font-size: larger;
    text-align: center;
    line-height: 3000%;
    width: 50%;
    
    
}
nav {
    display: inline;
    background-color: rgb(170, 18, 48);
    background-image: url(../images/5557f99eec810cd6b8c1dd149045e007_w200.gif);
    background-repeat: no-repeat;
    background-size: cover;

}
#pizza {
    margin-right: auto;
    margin-left: auto;
}
    
