.zan {
    color: black;
    background-image: url(../images/pizza-animated-gif-33.gif);
    background-repeat: no-repeat;
    font-size: larger;
    text-align: center;
    line-height: 3000%;
    width: 50%;
    
    
}
nav {
    display: inline;
    background-color: rgb(170, 18, 48);
    background-image: url(../images/pizza-76.gif);
    background-repeat: no-repeat;
    background-size: cover;

}
#pizza {
    margin-right: auto;
    margin-left: auto;
    flex: auto;
    flex-direction: row;
}
    
